 #isLoading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    height: 100vh;
    margin-top: 40%;
}

.itemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Mediaqueries*/
@media screen and (min-width: 1200px) {
    #isLoading {
        align-items: center;
        margin-top: 0;
    }
}
