.brand {
    padding-left: 5%;
}

.brand_link {
    width: 100%;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .brand {
        padding-left: 30%;
    }

    .brand_logo {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .brand_logo {
        width: 30%;
    }
}
