.detail-title {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primaryDark-2c2b2b);
    border-top: 1px solid var(--primaryBlue-0000ca);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    color: var(--primaryWhite-ffffff);
    text-align: center;
    padding: 5%;
}

.detail-backward {
    color: var(--primaryWhite-ffffff);
    text-decoration: none;
    text-align: start;
}

/*Item*/
.detail_item-container {
    border-top: 1px solid var(--primaryDark-2c2b2b);
    border-bottom: 1px solid var(--primaryDark-2c2b2b);
    padding: 5% 0;
    margin: 5%;
}

.detail_item-title {
    text-align: center;
}

.detail_item-figure {
    height: fit-content;
}

.detail_item-figure img {
    height: 25vh;
    width: 100%;
}

.detail_item-description {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.25pc;
    padding: 0 5%;
}

/*Footer*/
.detail-footer {
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    border-top: 1px solid var(--primaryBlue-0000ca);
    background-color: var(--primaryDark-2c2b2b);
    color: var(--primaryWhite-ffffff);
    padding-bottom: 5%;
}

.detail-footer_price-stock {
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}

.detail-footer-price_number,
.detail-footer-stock_number {
    color: var(--dollarColor-008000);
}

/*Botones*/
.end-continue_text {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.end-continue_btns {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.end-continue_links {
    background-color: var(--primaryDark-2c2b2b);
    color: var(--primaryWhite-ffffff);
    border-top: 2px double gray;
    border-left: 2px double gray;
    border-right: 2px double rgb(34, 33, 33);
    border-bottom: 2px double rgb(34, 33, 33);
    text-decoration: none;
    text-align: center;
    padding: 1%;
    width: 100%;
}

.end-continue_links:hover {
    background-color: var(--primaryWhite-ffffff);
    color: var(--primaryDark-2c2b2b);
}

/*Mediaqueries*/
@media screen and (min-width: 300px) {
    .end-continue_links {
        font-size: inherit;
    }
}

@media screen and (min-width: 768px) {
    .detail_item-title {
        text-align: start;
    }    

    .detail_item-figure {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .detail_item-figure {
        display: flex;
        align-items: center;
        width: 80%;
    }

    .detail_item-figure img {
        height: 30vh;
    }

    .detail-footer {
        display: flex;
        border-top: 1px solid var(--primaryBlue-0000ca);
        padding-top: 5%;
    }

    .detail-footer_price-stock,
    .end-continue-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;
        padding: 0;
        width: 50%;
    }

    .end-continue_btns {
        flex-direction: column;
        align-items: center;
    }

    .end-continue_links {
        width: 40%;
        margin: 0.5% 0;
    }

    .end-continue_text {
        padding: 0 0 5% 0;
    }
}

@media screen and (min-width: 1200px) {
    .detail-title {
        padding: 1% 5%;
    }

    .detail_item-container {
        padding: 1% 0;
        margin: 1% 0;
    }

    .detail_item-title {
        text-align: center;
        font-size: 1.5rem;
    }
}
