.detail-title {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primaryDark-2c2b2b);
    border-top: 1px solid var(--primaryBlue-0000ca);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    color: var(--primaryWhite-ffffff);
    font-size: inherit;
    text-align: center;
    padding: 5%;
}

.detail-backward {
    border-top: 2px double gray;
    border-left: 2px double gray;
    border-right: 2px double rgb(34, 33, 33);
    border-bottom: 2px double rgb(34, 33, 33);
    border-radius: 25%;
    color: var(--primaryWhite-ffffff);
    text-decoration: none;
    text-align: center;
    padding: 1% 0;
    width: 60%;
}

/*Item*/
.detail_item-container {
    border-top: 1px solid var(--primaryDark-2c2b2b);
    border-bottom: 1px solid var(--primaryDark-2c2b2b);
    padding: 5% 0;
    margin: 5%;
}

.detail_item-title {
    text-align: center;
}

.detail_item-figure {
    height: fit-content;
}

.detail_item-figure img {
    height: 25vh;
    width: 100%;
}

.detail_item-description {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.25pc;
    padding: 5% 5% 0 5%;
}

/*Footer*/
.detail-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--primaryBlue-0000ca);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    background-color: var(--primaryDark-2c2b2b);
    color: var(--primaryWhite-ffffff);
    padding: 5%;
}

.detail-footer_price-stock {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 5% 0;
}

.detail-footer-price_number,
.detail-footer-stock_number {
    color: var(--dollarColor-008000);
}

/*Botones*/
.end-continue_text {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5%;
}

.end-continue_btns {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    height: 100%;
}

.end-continue_links {
    background-color: var(--primaryDark-2c2b2b);
    color: var(--primaryWhite-ffffff);
    border-top: 2px double gray;
    border-left: 2px double gray;
    border-right: 2px double rgb(34, 33, 33);
    border-bottom: 2px double rgb(34, 33, 33);
    border-radius: 25%;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    margin: 1% 0;
    width: 100%;
}

.detail-backward:hover,
.end-continue_links:hover {
    background-color: black;
}

/*Mediaqueries*/
@media screen and (min-width: 300px) {
    .end-continue_links {
        font-size: inherit;
    }
}

@media screen and (min-width: 768px) {
    .detail_item-title {
        text-align: start;
    }    

    .detail-backward {
        width: 35%;
    }

    .detail_item-figure {
        width: 60%;
        margin: auto;
    }

    .detail-footer {
        padding: 0;
    }

    .detail-footer_price-stock {
        padding: 2% 0;
    }

    .end-continue_btns {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .end-continue_links {
        font-size: inherit;
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .detail {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .detail-title {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .detail-backward {
        order: 2;
        padding: 1%;
    }

    .detail_item-container {
        border: 1px solid var(--primaryBlue-0000ca);
        padding: 5% 0;
        margin: 0;
    }

    .detail_item-title {
        padding: 0 5%;
    }

    .detail_item-figure {
        width: 90%;
    }

    .detail-footer {
        justify-content: space-evenly;
        border-bottom: 1px solid var(--primaryBlue-0000ca);
        padding: 0;
    }

    .end-continue_text {
        padding: 0;
    }

    .end-continue-container {
        display: flex;
        flex-direction: column;
    }

    .end-continue_btns {
        justify-content: space-evenly;
        padding: 5% 0;
    }

    .end-continue_links {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .detail_item-container {
        padding: 1% 0;
        margin: 1% 0;
    }

    .detail_item-title {
        text-align: center;
        font-size: 1.5rem;
    }
}
