.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.detailItemContainer {
    border-top: 1px solid var(--primaryDark-var);
    border-bottom: 1px solid var(--primaryDark-var);
    padding: 2% 0;
}

.detailItemTitle {
    font-weight: bold;
}

.detailItemFigure img {
    height: 25vh;
    margin: auto;
}

.detailFooter {
    border: 1px solid var(--primaryDark-var);
    border-radius: 3px; 
    margin-top: 5%;
    width: 100%;
}

.detailFooterPrice,
.detailFooterStock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
    width: 100%;
    padding: 1% 20%;
}

.detailFooterPriceNumber { 
    color: var(--dollarColor-var);
}

/*Estilización al cambio de botones del contador al agregar un producto al carrito*/
.endOrContinueContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 1%;
}

.endOrContinueText {
    width: 100%;
    padding: 15% 0;
}

.endOrContinueLinks {
    text-decoration: none;
    border: 5px double var(--primaryDark-var);
    color: var(--primaryDark-var);
    border-radius: 3px;
    padding: 1%;
    font-size: 0.7rem;
}

/*Mediaqueries*/
@media screen and (min-width: 390px) {
    .detailContainer {
        padding-bottom: 8%;
    }
}

@media screen and (min-width: 768px) {
    .detailContainer {
        padding: 0;
    }

    .detailFooter {
        width: 50%;
    }

    .endOrContinueLinks {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .detailContainer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 1% 4%;
    }

    .detailItemContainer {
        width: 45%;
    }

    .detailItemFigure img {
        height: 35vh;
    }

    .detailFooter {
        margin: 0;
        width: 45%;
    }

    .detailFooterPrice,
    .detailFooterStock {    
        margin: 6% auto;
        width: 30%;   
    }

    .endOrContinueContainer {
        justify-content: center;
        align-items: baseline;
        font-size: 1rem;
        padding: 10% 0;
    }

    .endOrContinueLinks {
        margin: 0 1%;
    }
}
