.formBackdrop {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--formBackdrops-e2e2e2b3);
}

.form {
    color: var(--primaryWhite-ffffff);
    background-color: var(--primaryDark-2c2b2b);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    width: 100%;
}

.form_title {
    border-top: 1px solid var(--primaryBlue-0000ca);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    font-size: 1.2rem;
    text-align: center;
    padding: 5% 0;
}

.form_inputs-container {
    border: none;
    padding: 5% 8%;
}

.form_inputs-container input {
    width: 100%;
    padding: 2%;
    font-weight: bold;
    border-radius: 3px;
}

.form_inputs-container input:required {
    border: 1px solid red;
}
  
.form_inputs-container input:valid {
    border: 1px solid var(--dollarColor-008000);
}

.form_inputs-container--footer {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 5% 8%;
}

.form_inputs-container--footer_cancel-link,
.form_inputs-container--footer_buy-btn {
    background-color: var(--primaryDark-2c2b2b);
    color: var(--primaryWhite-ffffff);
    border-top: 2px double gray;
    border-left: 2px double gray;
    border-right: 2px double rgb(34, 33, 33);
    border-bottom: 2px double rgb(34, 33, 33);
    border-radius: 25%;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    font-size: 0.7rem;
    padding: 2% 0;
    width: 45%;
}

.form_inputs-container--footer_buy-link {
    color: var(--primaryWhite-ffffff);
    text-decoration: none;
    padding: 5%;
}

.form_inputs-container--footer_cancel-link:hover,
.form_inputs-container--footer_buy-btn:hover,
.form_inputs-container--footer_buy-link:hover {
    background-color: var(--primaryWhite-ffffff);
    color: var(--primaryDark-2c2b2b);
}

.form_inputs-container--footer_buy-btn:disabled {
    visibility: hidden;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .form_inputs-container--footer_cancel-link,
    .form_inputs-container--footer_buy-btn {
        font-size: inherit;
    }
}

@media screen and (min-width: 1024px) {
    .form_inputs-container,
    .form_inputs-container--footer {
        width: 50%;
        margin: auto;
        padding: 1%;
    }

    .form_title {
        font-size: 1.5rem;
    }
}
