.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaryWhite-var);
    border-radius: 5px;
    text-align: start;
    width: 100vw;
    height: 50vh;
}

.formTitle {
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
    text-align: center;
    padding: 2%;
}

label[for] {
    margin: 10% 0 0 5%;
}

#userName,
#userEmail,
#userEmailRepeated,
#userPhone,
input[name="userEmailRepeat"] {
    border-radius: 5px;
    padding: 1%;
    margin: 0 5%;
}
  
input:required {
    border: 1.5px solid red;
    border-radius: 5px;
}
  
input:valid {
    border: 1.5px solid var(--dollarColor-var);
    border-radius: 5px;
}

fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: 10% 5%;
}

.cancelLink {
    border-top: 8px outset rgb(97, 97, 97);
    border-left: 8px outset rgb(97, 97, 97);
    border-bottom: 8px outset var(--primaryDark-var);
    border-right: 8px outset var(--primaryDark-var);
    color: var(--primaryDark-var);
    text-decoration: none;
    text-align: center;
    padding: 1% 5%;
}

.formBuyBtn {
    border-top: 8px outset rgb(97, 97, 97);
    border-left: 8px outset rgb(97, 97, 97);
    border-bottom: 8px outset var(--primaryDark-var);
    border-right: 8px outset var(--primaryDark-var);
    padding: 1%;
}

.formBuyLink {
    color: var(--primaryDark-var);
    text-decoration: none;
    padding: 5.5% 0;
}

.formBuyBtn:hover,
.formBuyLink:hover,
.cancelLink:hover {
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
}

.formBuyBtn:disabled {
    visibility: hidden;
}

/*Mediaqueries*/
@media screen and (min-width: 360px) {
    .form {
        height: 60vh;
    }
}

@media screen and (min-width: 390px) {
    .form {
        height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .form {
        height: 65vh;
    }
}

@media screen and (min-width: 1024px) {
    .form {
        margin: 0 -25%;
        width: 150%;
        height: 65vh;
    }
}

@media screen and (min-width: 1200px) {
    .form {
        width: 150%;
        height: 49vh;
    }
}
