.cart-list-header {
    color: var(--primaryWhite);
    padding: 5% 1%;
}

.cart-list-header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primaryWhite);
    box-shadow: black 0 0 3px;
    border: 1px solid var(--secondaryDark);
    border-radius: 5px;
    padding-right: 5%;
}

.cart-list-header_backward {
    text-decoration: none;
    color: var(--primaryWhite);
    font-size: medium;
    padding: 1%;
}

/*Footer*/
.cart-footer {
    background-color: var(--secondaryDark);
    box-shadow: black 0 0 5px;
    border: 1px solid var(--secondaryDark);
    border-radius: 10px;
    text-align: center;
    padding: 5% 0;
}

.cart-footer-btns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.cart-footer-btns_clear,
.cart-footer-btns_continue,
.empty-cart_back {
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: var(--primaryWhite);
    background-color: var(--secondaryDark);
    box-shadow: black 0 0 2px;
    border: 1px solid var(--secondaryDark);
    border-radius: 10px;
    padding: 1%;
    width: 40%;
}

.cart-footer_price {
    border: 1px solid var(--primaryDark);
    padding: 1%;
    width: 86%;
    margin: auto;
}

.cart-footer-price_number {
    color: var(--dollarColor);
}

/*Carrito vacio*/
.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: var(--primaryWhite);
}

.empty-cart_title {
    margin: 5%;
}

@media screen and (min-width: 768px) {
    .cart-list {
        display: flex;
        flex-wrap: wrap;
    }
}
