/*Carrito vacío*/
.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 68vh;
    max-height: 100vh;
}

.emptyCartbackToBuyLink {
    border-top: 8px outset rgb(97, 97, 97);
    border-left: 8px outset rgb(97, 97, 97);
    border-bottom: 8px outset var(--primaryDark-var);
    border-right: 8px outset var(--primaryDark-var);
    color: var(--primaryDark-var);
    text-decoration: none;
    margin: 5%;
    padding: 1%;
}

/*Carrito con productos*/
.cartListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1% 4%;
    min-height: 68vh;
}

.cartFooter {
    border: 1px solid var(--primaryDark-var);
    border-radius: 3px;
}

.cartFooterPrice {
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
    padding: 1%;
}

.cartFooterTotalPrice {
    color: var(--dollarColor-var);
    font-weight: bold;
}

.cartFooterBtns {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.cartFooterContinueLink {
    border-top: 8px outset rgb(97, 97, 97);
    border-left: 8px outset rgb(97, 97, 97);
    border-bottom: 8px outset var(--primaryDark-var);
    border-right: 8px outset var(--primaryDark-var);
    color: var(--primaryDark-var);
    text-decoration: none;
    padding: 0 3%;
}

.cartFooterClearBtn {
    border-width: 8px;
    padding: 0 1%;
}

@media screen and (min-width: 768px) {
    .cartListContainer {
        min-height: 55vh;
    }
}

@media screen and (min-width: 1024px) {
    .emptyCartbackToBuyLink {
        padding: 1%;
    }
}
