/*Carrito vacío*/
.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 68vh;
    max-height: 100vh;
}

.emptyCartbackToBuyLink {
    color: var(--primaryDark-var);
    border: 1px solid var(--primaryDark-var);
    border-radius: 5px;
    text-decoration: none;
    margin: 5%;
    padding: 2%;
}

/*Carrito con productos*/
.cartListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 5% 5% 5%;
    min-height: 68vh;
}

.cartFooter {
    border: 1px solid var(--primaryDark-var);
    border-radius: 3px;
    padding: 1%;
}

.cartFooterTotalPrice {
    color: var(--dollarColor-var);
    font-weight: bold;
}

.cartFooterBtns {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.cartFooterContinueLink {
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    color: var(--primaryDark-var);
    border: 1px solid var(--primaryDark-var);
    border-radius: 3px;
    padding: 0 3%;
}

@media screen and (min-width: 768px) {
    .cartListContainer {
        min-height: 55vh;
    }
}
