.cart-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-widget_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primaryWhite-ffffff);
    width: 100%;
}

.cart-widget_img {
    width: 30%;
    margin: 0;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .cart-widget_img {
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .cart-widget_img {
        width: 10%;
    }

    .cart-widget_number {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .cart-widget_img {
        width: 25%;
    }
}
