.cartWidgetLink {
    grid: cart;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.cartWidgetImg {
    width: 50%;
}

.cartWidgetNumber {
    color: var(--primaryWhite-var);
}

@media screen and (min-width: 375px) {
    .cartWidgetImg,
    .cartWidgetNumber {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .cartWidgetImg,
    .cartWidgetNumber {
        width: inherit;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .cartWidgetImg,
    .cartWidgetNumber {
        width: 1.5rem;
        font-size: inherit;
    }
}

@media screen and (min-width: 1440px) {
    .cartWidgetImg,
    .cartWidgetNumber {
        width: 2rem;
    }
}
