.cart-widget-container {
    border: 3px double var(--primaryWhite);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.cart-widget_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primaryWhite);
    height: 100%;
}

.cart-widget_icon {
    width: 25px;
    height: 25px;
}

/*Mediaqueries*/
@media screen and (min-width: 1200px) {
    .cart-widget-container {
        order: 2;
    }
}
