.itemListProduct {
    border: 1px solid var(--primaryDark-var);
    border-radius: 2px;
    box-shadow: 2px 2px var(--primaryDark-var);
    list-style: none;
    font-size: 0.7rem;
    padding: 1%;
    margin: 2%;
    width: 44%;
    height: 25vh;
}

.card {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: "title"
                         "image"
                         "price";
    text-decoration: none;
    color: var(--primaryDark-var);
    height: 100%;
}

.cardTitle {
    grid: title;
}

.cardImg img {
    grid: image;
    height: 100%;
    width: 100%;
}

.cardPrice {
    grid: price;
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
    font-weight: bold;
    text-align: center;
}

.cardMoney {
    color: var(--dollarColor-var);
}
