.itemListProduct {
    box-shadow: 2px 2px var(--primaryDark-var);
    border: 1px solid var(--primaryDark-var);
    border-radius: 2px;
    list-style: none;
    font-size: 0.7rem;
    margin: 2%;
    width: 44%;
    height: 25vh;
    position: relative;
}

.itemListProductLink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: transparent;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
}

.card {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: "title"
                         "image"
                         "price";
    text-decoration: none;
    color: var(--primaryDark-var);
    height: 100%;

}

.cardTitle {
    grid: title;
    padding: 0.5% 0 0 1%;
}

.cardImg img {
    grid: image;
    height: 100%;
    width: 100%;
}

.cardPrice {
    grid: price;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryDark-var);
    color: var(--primaryWhite-var);
}

.cardMoney {
    color: var(--dollarColor-var);
}

@media screen and (min-width: 1024px) {
    .itemListProduct {
        font-size: inherit;
        height: 30vh;
        width: 20%;
    }

    .itemListProductLink:hover {
        background-color: rgb(255, 255, 255, 0.8);
        color: var(--primaryBlue-var);
        font-size: 2rem;
    }
}
