.navbar {
    width: 100%;
    padding: 0 1%;
    font-weight: bolder;
    background-color: black;
    position: fixed;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 95%;
}

.NavLink {
    color: #bab5ab;
    text-decoration: none;
}

.NavLink:hover {
    color: #ffffffcb;
    text-decoration: underline;
}

.NavLinkCart {
    display: flex;
    align-items: center;
}

.cartQuantity {
    color: #bab5ab;
}
