.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--primaryDark-2c2b2b);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
}

.navbar_list {
    border-right: 1px solid var(--primaryBlue-0000ca);
    border-left: 1px solid var(--primaryBlue-0000ca);
    padding: 0 5%;
}

.navbar-list_item {
    list-style: none;
    margin: 20% 0;
}

.navbar-list-item_link {
    color: var(--primaryWhite-ffffff);
    text-decoration: none;
}

/*Mediaqueries*/
@media screen and (min-width: 1024px) {
    .navbar_list {
        width: 60%;
    }

    .navbar-list_item {
        margin: 5% 0;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        background-color: transparent;
        border-bottom: none;
        width: 100%;
    }

    .navbar_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        width: 100%;
    }

    .navbar-list_item {
        display: flex;
        align-items: center;
        border-right: 1px solid var(--primaryBlue-0000ca);
        border-left: 1px solid var(--primaryBlue-0000ca);
        height: 100%;
        margin: 1% 0;
        padding: 0 2%;
    }
}
