.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primaryWhite-var);
    width: 100%;
    height: 50%;
}

.navbarListItem {
    list-style: none;
    margin: 20% 0;
}

.navbarLink {
    text-decoration: none;
    color: var(--primaryDark-var);
}

/*Mediaqueries*/
@media screen and (min-width: 1024px) {
    .navbar {
        background-color: transparent;
    }

    .navbarList {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbarListItem {
        margin: 0;
    }

    .navbarLink {
        color: var(--primaryWhite-var);
    }
}
