.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryWhite);
    font-size: x-large;
    height: 100vh;
}

/*Catalogo*/
.items-list-section {
    text-align: center;
    padding: 1% 0;
}

.items-list-section_title {
    box-shadow: black 0 0 3px;
    border: 1px solid var(--secondaryDark);
    border-radius: 5px;
    color: var(--primaryWhite);
}

.items-list {
    padding: 0 5%;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .items-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
}

@media screen and (min-width: 996px) {
    .items-list-section {
        padding: 1% 1% 0 1%;
    }

    .items-list-section_title {
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .items-list-section {
        display: flex;
        justify-content: flex-end;
        padding: 0.5%;
    }

    .items-list-section_container {
        width: 66.5%;
    }
}
