.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryWhite);
    font-size: x-large;
    height: 100vh;
}

.items-list-section {
    text-align: center;
    padding: 5% 0;
}

.items-list-section_title {
    color: var(--primaryWhite);
    border-top: 2px solid var(--primaryWhite);
    border-bottom: 2px solid var(--primaryWhite);
    padding: 1% 0;
}

@media screen and (min-width: 768px) {
    .items-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
