.cart-list-item {
    border: 3px double var(--primaryWhite);
}

.cart-list-item_header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.cart-list-item_figure img {
    width: 100%;
    height: 40vh;
}

.cart-list-item-figure_description {
    padding: 3%;
}

.cart-list-item_quantity {
    text-align: center;
    padding: 1% 0;
    background-color: var(--secondaryDark);
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .cart-list-item {
        width: 50%;
    }

    .cart-list-item_figure img {
        height: 20vh;
    }
}
