@keyframes rgbBrand {
    0%   {
        color: red;
    }

    25%  {
        color: yellow;
    }

    50%  {
        color: blue;
    }

    75% {
        color: green;
    }

    100% {
        color: red;
    }
} 

.footer {
    text-align: center;
    color: var(--primaryWhite);
    font-size: small;
    background-color: var(--secondaryDark);
    font-size: 0.7rem;
}

.footer-brand {
    animation: rgbBrand infinite 15s ease-in-out;
    font-family: "COUGAR";
    background-color: var(--secondaryDark);
    box-shadow: black 0 0 2px;
    border: 1px solid var(--secondaryDark);
}

/*Info*/
.footer_info-table {
    width: 80%;
    margin: 5% auto;
}

.footer_info-table-row_division1 {
    text-align: start;
}

.footer_info-table-row_division2 {
    text-align: end;
}

/*Contacto*/
.footer_contacts-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5% 0;
}

.footer-contact-list-item_link img {
    width: 30px;
    height: 30px;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-brand {
        width: 100%;
    }

    .footer_info-table {
        width: 40%;
    }

    .footer_contact-list-container {
        width: 50%;
    }
}

/*Mediaqueries*/
@media screen and (min-width: 996px) {
    .footer_info-table,
    .footer_contacts-list {
        margin: 1% auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        display: flex;
        justify-content: flex-end;
        border-bottom: 3px double var(--primaryWhite);
    }

    .footer_container {
        width: 67%;
        justify-content: flex-end;
    }

    .footer_info-table-row_division1 {
        text-align: end;
    }

    .footer_info-table-row_division2 {
        text-align: center;
    }
}
