.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "data contact";
    align-items: center;
    color: var(--primaryWhite-var);
    background-color: var(--primaryDark-var);
    font-size: 0.5rem;
}

.footerDataList {
    grid: data;
    list-style: none;
    padding: 1% 0 0 7%;
}

.footerDataListItem {
    margin: 2%;
}

.footerDataListItemSpan {
    text-decoration: underline;
}

.footerContactsList {
    grid: contact;
    display: flex;
    list-style: none;
}

.footerContactsListItem {
    width: 100%;
}

.footerContactListItemLink img {
    height: 1rem;
    margin: auto;
    border-radius: 5px;
}

@media screen and (min-width: 375px) {
    .footer {
        font-size: 0.7rem;
    }

    .footerContactListItemLink img {
        height: 1.5rem;
    }
}