.loading {
    color: rgb(0, 0, 0);
    margin-top: 25%;
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
}

.detailContainer {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 5%;
    width: 95%;
    height: 90%;
}

.detailItemContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.detailItemTitle {
    border: 1px solid #000000;
    border-radius: 5px;
}

.detailItemFigure {
    height: 100%;
}

.detailItemFigure img {
    width: 100%;
    height: 90%;
}

.detailItemDescription {
    text-align: start;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1%;
}

.detailFooter {
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
    margin: auto;
    width: 25%;
    padding: 1%;
}

.detailFooterPrice,
.detailFooterStock {
    display: flex;
    justify-content: space-between;
    text-decoration: underline double;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1%;
    margin: 5%;
}

.detailFooterPriceNumber {
    color: green;
    text-decoration: underline double green;
}

.itemCountContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.itemCountQuantityNumber {
    color: #0000ff;
}

.itemCountBtns {
    border: 1px solid #000000;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.05rem;
    width: 30%;
    margin: auto;
}

.itemCountBtns:hover {
    background-color: #00000073;
}

.itemCountBtns--addToCart {
    margin-top: 10%;
    padding: 1% 0;
    font-weight: 500;
    width: 35%;
}

.endOrContinueContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

.endOrContinueLinks {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    padding: 1%;
    width: 45%;
}

.endOrContinueLinks:hover,
.itemCountBtns--addToCart:hover {
    background-color: #000000;
    color: #ffffff;
}

.itemCountBtns--addToCart:disabled {
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
}
