.items-list_product {
    width: 49%;
    margin: 1% 0;
}

.items-list-product_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    color: var(--primaryDark-2c2b2b);
    border: 1px solid var(--primaryDark-2c2b2b);
    border-radius: 5px;
    padding: 5% 0 0 0;
    height: 100%;
    transition: box-shadow 0.7s, transform 0.7s;
}

.items-list-product_card:hover {
    box-shadow: var(--primaryBlue-0000ca) 0 0 5px;
    transform: scale(105%);
}

.items-list-product-card_title {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
}

.items-list-product-card_img {
    height: fit-content;
    width: 100%;
}

.items-list-product-card_img img {
    height: 20vh;
    width: 100%;
}

.items-list-product-card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryDark-2c2b2b);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    color: var(--primaryWhite-ffffff);
    font-size: 0.75rem;
    padding: 5% 2%;
    width: 100%;
}

.items-list-product-card-price_money {
    color: var(--dollarColor-008000);
}

/*Mediaqueries*/
@media screen and (min-width: 300px) {
    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {
    .items-list_product {
        width: 32.5%;
    }

    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: inherit;
    }
}

@media screen and (min-width: 1024px) {
    .items-list_product {
        width: 23%;
        margin: 1%;
    }

    .items-list-product-card_img img {
        height: 30vh;
    }
}

@media screen and (min-width: 1200px) {
    .items-list_product {
        margin: 1% 0;
    }

    .items-list-product-card_img img {
        height: 20vh;
    }
}
