.items-list_product {
    border: 1px solid var(--primaryBlue-0000ca);
    width: 50%;
}

.items-list-product_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    color: var(--primaryDark-2c2b2b);
    padding: 10%;
    height: 100%;
}

.items-list-product-card_title {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
}

.items-list-product-card_img {
    height: fit-content;
    width: 100%;
}

.items-list-product-card_img img {
    height: 20vh;
    width: 100%;
}

.items-list-product-card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    width: 100%;
}

.items-list-product-card-price_money {
    color: var(--dollarColor-008000);
}

/*Mediaqueries*/
@media screen and (min-width: 300px) {
    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {
    .items-list_product {
        width: 33.33%; 
    }

    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .items-list_product {
        width: 25%;
    }

    .items-list-product-card_img img {
        height: 30vh;
    }
}
