.items-list_product {
    width: 47%;
    margin: 2% 0;
}

.items-list-product_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    color: var(--primaryDark-2c2b2b);
    border: 1px solid var(--primaryDark-2c2b2b);
    box-shadow: var(--primaryBlue-0000ca) 1px 1px 5px;
    border-radius: 10%;
    padding: 5% 0 0 0;
    height: 100%;
}

.items-list-product-card_title {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
}

.items-list-product-card_img {
    height: fit-content;
    width: 100%;
}

.items-list-product-card_img img {
    height: 20vh;
    width: 100%;
}

.items-list-product-card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryDark-2c2b2b);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--primaryWhite-ffffff);
    font-size: 0.75rem;
    padding: 5% 2%;
    width: 100%;
}

.items-list-product-card-price_money {
    color: var(--dollarColor-008000);
}

/*Mediaqueries*/
@media screen and (min-width: 300px) {
    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {
    .items-list_product {
        width: 30%;
    }

    .items-list-product-card_price,
    .items-list-product-card_title {
        font-size: inherit;
    }

    .items-list-product-card_price {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .items-list_product {
        width: 23%;
        margin: 1%;
    }

    .items-list-product-card_img img {
        height: 30vh;
    }
}

@media screen and (min-width: 1200px) {
    .items-list_product {
        margin: 1% 0;
    }

    .items-list-product-card_img img {
        height: 20vh;
    }
}
