@font-face {
	font-family: COUGAR;
	src: local("COUGAR"),
	local("COUGAR"),
	url(../public/COUGAR.ttf);	
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 0.9rem;
	min-height: 100vh;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primaryDark);
}

img, 
picture,
figure,
svg,
video {
	display: block;
	max-width: 100%;
}

:root {
	--primaryDark: #2c2b2b;
	--secondaryDark: #252525;
	--primaryWhite: #dddddd;
	--primaryBlue: #0000ca;
	--dollarColor: #008000;
	--formBackdrops: #e2e2e260;
}
