.itemCountContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3% auto;
    width: 60%;
}

.itemCountBtns {
    margin: 2% 0;
    font-size: 1rem;
}

.itemCountQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.itemCountQuantityNumber {
    border: 1px solid var(--primaryDark-var);
    border-radius: 3px;
    font-weight: bold;
    padding: 1% 3%;
}

.itemCountBtns--addToCart {
    border: 5px double var(--primaryDark-var);
    font-size: inherit;
}

@media screen and (min-width: 1024px) {
    .itemCountContainer {
        width: 30%;
        padding: 1% 0;
    }
}
