.item-count-container {
    padding: 5%;
}

.item-count_btnscontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
}

.item-count_btns {
    color: var(--primaryWhite);
    font-weight: bolder;
    font-size: large;
    box-shadow: black 0 0 5px;
    background-color: var(--secondaryDark);
    border: 1px solid var(--primaryDark);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.item-count_addToCart {
    font-family: inherit;
    font-size: inherit;
    color: var(--primaryWhite);
    box-shadow: black 0 0 2px;
    background-color: var(--secondaryDark);
    border: 1px solid var(--primaryDark);
    border-radius: 5px;
    padding: 1%;
    width: 100%;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .item-count_btns {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 996px) {
    .item-count-container {
        border: 1px solid var(--primaryDark);
        box-shadow: black 0 0 2px;
    }

    .item-count_addToCart {
        width: 50%;
    }

    .item-count_btns:hover,
    .item-count_addToCart:hover {
        border: 1px solid var(--primaryWhite);
    }
}
