.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--primaryBlue-0000ca);
    background-color: var(--primaryDark-2c2b2b);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.burger {
    grid: burger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 1px solid var(--primaryBlue-0000ca);
    border-left: 1px solid var(--primaryBlue-0000ca);
    background-color: transparent;
}

.burger-content {
    background-color: var(--primaryWhite-ffffff);
    border-radius: 5px;
    width: 40%;
    height: 5px;
    margin: 1% 0;
}

.mobile-navbar {
    background-color: var(--backdropsTransparent-2600ff80);
    position: absolute;
    top: 102%;
    width: 100%;
    height: 100vh;
}

.desktop-navbar {
    display: none;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .burger-content {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .burger-content {
        width: 15%;
    }
}
