.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title burger cart";
    justify-items: center;
    align-items: center;
    background-color: var(--primaryDark-var);
    position: fixed;
}

.burgerButton {
    grid: burger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: var(--primaryDark-var);
    border: none;
    min-width: 25%; 
}

.burgerButtonContent {
    border: 1px solid var(--primaryDark-var);
    background-color: var(--primaryWhite-var);
    border-radius: 5px;
    padding: 4.3%;
    margin: 3%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .burgerButton {
        min-width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        grid-template-columns: 0.25fr 2fr 0.25fr;
        padding: 0.5%;
        width: 100%;
    }

    .burgerButton {
        display: none;
    }
}