.header {
    background-color: var(--formBackdrops);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*Navbar*/
.desktop-navbar {
    display: none;
}

.mobile-navbar {
    position: absolute;
    background-color: var(--formBackdrops);
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/*Burger*/
.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px double var(--primaryWhite);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.burger-content {
    background-color: var(--primaryWhite);
    border-radius: 5px;
    margin: 2.5% 0;
    width: 25px;
    height: 2px;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
    .burger-content {
        margin: 1% 0;
    }
}
