@keyframes bannerBackground {
    0% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    50% {
        background-image: url(./images/background-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    100% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.banner-container {
    animation: bannerBackground 60s ease-in-out infinite;
    position: relative;
    border: 3px double var(--primaryWhite);
    height: 100vh;
}

.banner-btn {
    background-color: var(--formBackdrops);
    border: 3px double var(--primaryWhite);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 33.3%;
    padding: 1%;
}
