@keyframes bannerMobile {
    0% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    50% {
        background-image: url(./images/background-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    100% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/*--------------------------------------------------------*/

@keyframes bannerDesktop {
    0% {
        background-image: url(./images/background-4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    50% {
        background-image: url(./images/background-3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    100% {
        background-image: url(./images/background-4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}

/*--------------------------------------------------------*/

@keyframes bannerDesktop-2 {
    0% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 67% 100%;
    }

    50% {
        background-image: url(./images/background-2.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 67% 100%;
    }

    100% {
        background-image: url(./images/background-1.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 67% 100%;
    }
}

.banner-container {
    animation: bannerMobile 60s ease-in-out infinite;
    border: 3px double var(--primaryWhite);
    height: 100vh;
}

/*Mediqueries*/
@media screen and (min-width: 996px) {
    .banner-container {
        animation: bannerDesktop 60s ease-in-out infinite;
    }
}

@media screen and (min-width: 1200px) {
    .banner-container {
        animation: bannerDesktop-2 60s ease-in-out infinite;
    }
}
