.banner {
    padding-top: 5%;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding-top: 3%;
    }

    .bannerContainerImg {
        width: 100%;
        height: 60vh;
        margin: auto;
    }
}
